* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Common Css Use Only */

.text-primary {
    color: #FD6E0A;
    ;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
}


/* Nav Related Style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 130px;
}

nav h3 {
    font-size: 45px;
    color: #181818;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}
.nav-btn{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 150px;
    height: 64px;
    border: none;
}